body{
    background-color: black
}

.yo{
    padding: 50;
    margin: 20;
    background-color: red
}

.flex{
    display: flex;
    justify-content: center;
}

.red{
    padding-right: 190px;
    background-color: red
}

.yellow{
    padding-bottom: 336px;
    background-color: red
}
.blue{
    padding-bottom: 190;
    margin-top: 26;
    background-color: red
}

.pink{
   padding: 130;
   padding-top: 350;
   margin-right: 30;
   background-color:red
}

.white{
    padding-right: 450px;
    background-color: rgb(255, 255, 255);
    margin-top: 0;
}

.purple{
    margin-right: 405;
    background-color: red;
}

.false{
    padding: 50;
    margin: 20;
}

.green{
    padding-bottom: 210px;
    background-color: red
}

.block{
    padding-bottom: 50;
    margin: 20;
    background-color: red
}
.fundo{ 
    background-color: white;
    width: 70vw;
    height: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
}